@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&family=Shadows+Into+Light&display=swap');

body {
    margin: 0px !important;
}

.container{
    position: relative;
    display: inline-block;
    text-align: center;
}

.img-size {
    height: 100%;
    width: 400px;
}

@media(max-width:1000px) {
    .img-size {
    width: 100%;
    }
}

.texto-encima{
    position: absolute;
    top: 71%;
    left: 15%;
    color: white;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
